@import './main';

.App{
  height: 100vh;
}

button{
  @extend %button--unstyled;
}

.button-primary{
	font-weight: bold;
	background-color: #5aac44;
	box-shadow: 0 1px 0 0 #3f6f21;
	border: none;
	color: #fff;
  @extend %button-sm;
}

.button-danger{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  @extend %button-sm
}

.button-grey{
  background-color: #fff;
  color: rgba(0,0,0,0.54);
  box-shadow: none;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #CDD2D4; 
}

.button-xl{
  padding: 1rem 4.65rem;
}

.button-med{
  padding: 1rem 1.65rem;
}

textarea{
  resize: none;
}

.white-text{
  color: white;
}

input{
  border: none;
}